In [1]:
import numpy
import pandas as pd

In [2]:
df = pd.read_csv("video_game_sales_2016.csv")
df.head()

,Genre,NA_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Racing,15.68,82,73,8.3,709,E
1,Sports,15.61,80,73,8.0,192,E
2,Misc,15.00,61,45,6.3,106,E
3,Platform,14.44,87,80,8.4,594,E
4,Misc,13.96,58,41,6.6,129,E

In [3]:
genre_ct = df['Genre'].value_counts()
genre_ct

Action          1519
Sports           906
Shooter          800
Role-Playing     638
Racing           533
Platform         391
Misc             378
Fighting         358
Simulation       246
Adventure        212
Strategy         189
Puzzle           110
Name: Genre, dtype: int64

In [4]:

genre_ct.to_csv("genrecount.csv")

In [5]:
col_names=['genre', 'count']
genre_file=pd.read_csv('genrecount.csv',names=col_names)
genre_file.head()

          genre  count
0        Action   1519
1        Sports    906
2       Shooter    800
3  Role-Playing    638
4        Racing    533

In [6]:
genre_file.to_csv("genrecountfinal.csv")